* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

i {
  pointer-events: none;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%button {
  border: none;
  border-radius: 2.5px;
  margin: 0.15rem;
  padding: 0.2rem 0.3rem;
}

body {
  background: linear-gradient(90deg, rgb(84, 130, 255), rgb(100, 255, 134));
  header {
    @extend %flex-center;
    height: 20vh;

    h1 {
      color: #fff;
      font: 3rem sans-serif;
      font-weight: bolder;
    }
  }

  form {
    @extend %flex-center;
    input,
    button {
      @extend %button;
      font-size: 1.5rem;
    }
    input[type="number"] {
      width: 2.5rem;
      text-align: center;
    }
    button {
      background: rgb(0, 146, 114);
      color: #fff;
      cursor: pointer;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    div.todo {
      @extend %button;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 60vw;
      background: #fff;
      transition: all 0.2s ease;
      p {
        font-size: 1.5rem;
        color: #000;
      }
      p.todo-text {
        width: 50%;
      }
      p.todo-time {
        width: 20%;
        text-align: end;
      }
      button {
        @extend %button;
        font-size: 1.5rem;
        color: #fff;
        cursor: pointer;
      }
      button.complete {
        background: rgb(50, 255, 50);
      }
      button.trash {
        background: red;
        width: 33.59px;
      }
    }
  }
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
