@font-face {
  font-family: Gidole;
  src: url(../fonts/GidoleFont/Gidole-Regular.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Gidole", Arial, Helvetica, sans-serif;
}

::selection {
  background-color: #d5973a;
  color: #fff;
}

::-webkit-scrollbar {
  width: 15px;
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background: linear-gradient(202deg, hsl(159, 41%, 60%), hsl(213, 61%, 60%));
  border-radius: 10px;
}

i,
svg,
path {
  pointer-events: none;
}

%button {
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

%input {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 9px;
  color: #fff;
  background-color: transparent;
}

body {
  // background: linear-gradient(202deg, rgb(45, 108, 183), rgb(70, 168, 133));
  height: 100%;
  div.back {
    background: linear-gradient(202deg, rgb(45, 108, 183), rgb(70, 168, 133));
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    h1 {
      color: #fff;
      font-size: 2.25rem;
      line-height: 42px;
    }
  }

  form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;

    input::placeholder {
      color: #fff;
      opacity: 0.3;
    }
    input:focus-visible {
      outline: none;
      box-shadow: 0 0 0 3px #fff;
    }
    input[type="text"] {
      @extend %input;
      width: 100%;
      font-size: 1.125rem;
      line-height: 20px;
      padding: 7px 10px;
      margin: 0.15rem;
      font-family: "Noto Sans TC", sans-serif;
    }
    input[type="number"] {
      @extend %input;
      width: 43px;
      height: 32px;
      font-size: 0.875rem;
      line-height: 15px;
      text-align: center;
      padding: 9px 0;
      margin: 14px 4.5px 0;
    }
    button {
      @extend %button;
      width: 64px;
      height: 32px;
      background: #fff;
      opacity: 0.9;
      color: rgb(96, 96, 96);
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.01em;
      margin: 14px 2.4px 0 4.5px;
      box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 3px #d5973a;
      }
    }
  }

  div.sort {
    width: 240px;
    margin: 30px auto 10px;

    button {
      @extend %button;
      width: 37px;
      height: 23px;
      background: #d5973a;
      color: #fff;
      font-size: 0.875em;
      line-height: 15px;
      box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.25);
      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 3px #fff;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 59vh;
    overflow-y: auto;
    div.todo {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 350px;
      padding: 5px 5px 15px;

      div.contentWrap {
        width: 70%;
        p {
          font-size: 1rem;
          line-height: 15px;
          color: #fff;
        }
        p.todo-text {
          letter-spacing: 0.09em;
          padding-bottom: 8px;
          font-family: "Noto Sans TC", sans-serif;
        }
        p.todo-time {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      button.trash {
        width: 16px;
        height: 16px;
        font-size: 16px;
        background: transparent;
        border: none;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        &:focus-visible {
          outline: none;
          box-shadow: 0 0 0 3px #d5973a;
        }
      }
    }
  }
}

div.complete_svg_wrap {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  svg.circle path {
    stroke: #fff;
  }
  svg.check {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1px;
    top: 2px;
    path {
      stroke: transparent;
      stroke-dasharray: 17px;
      stroke-dashoffset: 17px;
    }
  }
}
.done {
  animation: fade 0.75s ease forwards;
  svg {
    &.circle > path {
      animation: complete_circle 0.5s cubic-bezier(0.27, 0.94, 0.45, 1) forwards;
    }
    &.check > path {
      animation: complete_check 0.5s cubic-bezier(0.27, 0.94, 0.45, 1) 0.25s
        forwards;
    }
  }
}
.undone {
  animation: bright 0.75s ease forwards;
  svg {
    &.circle > path {
      animation: noncomplete_circle 0.5s cubic-bezier(0.27, 0.94, 0.45, 1)
        forwards;
    }
    &.check > path {
      animation: noncomplete_check 1s cubic-bezier(0.27, 0.94, 0.45, 1) forwards;
    }
  }
}

@keyframes fade {
  to {
    opacity: 0.5;
  }
}
@keyframes bright {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes complete_circle {
  from {
    stroke-dasharray: 52px;
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dasharray: 52px;
    stroke-dashoffset: 52px;
    opacity: 0.5;
  }
}
@keyframes complete_check {
  35% {
    stroke: #fff;
    stroke-dashoffset: 0px;
    transform: rotate(-30deg);
  }
  65% {
    transform: rotate(10deg);
  }
  100% {
    stroke: #fff;
    stroke-dashoffset: 0px;
    transform: rotate(0deg);
  }
}
@keyframes noncomplete_circle {
  from {
    stroke-dasharray: 52px;
    stroke-dashoffset: 52px;
    opacity: 0.5;
  }
  to {
    stroke-dasharray: 52px;
    stroke-dashoffset: 0px;
    opacity: 1;
  }
}
@keyframes noncomplete_check {
  from {
    stroke: #fff;
    stroke-dasharray: 17px;
    stroke-dashoffset: 0px;
    transform: rotate(0deg);
    opacity: 1;
  }
  to {
    stroke: transparent;
    stroke-dasharray: 17px;
    stroke-dashoffset: 17px;
    transform: rotate(15deg);
  }
}

.scaleUp {
  animation: scaleUp 0.3s forwards;
}
@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.05);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
